<!DOCTYPE html>
<html>
    <head>
        <title>Flow Pro</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- bootstrap -->
        <link href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/bootstrap/bootstrap.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/bootstrap/bootstrap-overrides.css")" type="text/css" rel="stylesheet" />

        <!-- libraries -->
        <link href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/lib/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/lib/font-awesome.css")" type="text/css" rel="stylesheet" />

        <!-- global styles -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/compiled/layout.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/compiled/elements.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/compiled/icons.css")" />

        <!-- this page specific styles -->
        <link rel="stylesheet" href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/compiled/index.css")" type="text/css" media="screen" />

        <!-- open sans font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

        <!-- lato font -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/vis.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/emberui.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/emberui-default-theme.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/pace.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Flow/Styles/expedit-flow.css">

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery-1.10.2.js")"></script>
        <script>
            ENV = {
                ENABLE_ALL_FEATURES: true
            };
        </script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/instaview.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/handlebars-v1.3.0.js")"></script>
         @*emberui not working without min*@
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/ember.js")"></script>
        @*<script src="http://builds.emberjs.com/canary/ember.js"></script>*@
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/ember-data.js")"></script>
        @* map function currently missing
        <script src="http://builds.emberjs.com/canary/ember-data.js"></script>*@
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/ember-list-view.min.js")"></script>
        @*<script src="http://builds.emberjs.com/list-view/list-view-latest.js"></script>*@
        <script src="@Url.Content("~/Modules/NKD/Scripts/NKD.utils.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery.validate.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery.validate.unobtrusive.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery.validate.additional-methods.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/alertify.min.js")"></script>
        <link rel="stylesheet" href="@Url.Content("~/Modules/EXPEDIT.Share/Styles/alertify.core.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Modules/EXPEDIT.Share/Styles/alertify.bootstrap.css")" />
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/lodash.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/linq.min.js")"></script>
        @*<script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/moment.js")"></script>*@
        <script src="http://momentjs.com/downloads/moment.js"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/twix.min.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery.velocity.min.js")"></script>
        @*<script src="https://s3.amazonaws.com/emberui/dist/jquery.velocity.min.js"></script>*@
        @* Will work after latest ember data
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/ic-ajax.js")"></script>
        <script type="text/javascript">
            //ic.ajax.request.OVERRIDE_REST_ADAPTER = false;
        </script>*@
        <script src="~/Modules/EXPEDIT.Share/Scripts/emberui.js"></script>
        @*<script src="https://s3.amazonaws.com/emberui/dist/main.js"></script>*@

    </head>
    <body>

<script src="~/Modules/EXPEDIT.Share/Scripts/vis.js"></script>
<script src="~/Modules/EXPEDIT.Share/Scripts/pace.min.js"></script>
<script type="text/javascript">
    var mapHelper = '@Url.Content("~/Modules/NKD/Scripts/NKD.maps.js")';
</script>

<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/bootstrap.min.js"></script>
<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/jquery-ui-1.10.2.custom.min.js"></script>
<!-- knob -->
<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/jquery.knob.js"></script>
<!-- flot charts -->
<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/jquery.flot.js"></script>
<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/jquery.flot.stack.js"></script>
<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/jquery.flot.resize.js"></script>
<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/theme.js"></script>
<script src="~/Modules/EXPEDIT.Flow/Scripts/flow.js"></script>



<!-- The ember app gets injected here -->
<div id="emberapphere" name="application"></div>


<script type="text/x-handlebars" data-template-name="home-nav">
            {{#if view.activeTagzz}}
    <div class="pointer">
        <div class="arrow"></div>
        <div class="arrow_border"></div>
    </div>
{{/if}}
{{yield}}
</script>

<script type="text/x-handlebars" id="application">
     <!-- navbar -->
    <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="@Url.Content("~/Modules/EXPEDIT.Flow/Images/logo.png")" alt="logo" />
            </a>
        </div>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li class="hidden-xs hidden-sm">
                <input class="search" type="text" />
            </li>
            <li class="notification-dropdown hidden-xs hidden-sm">
                <a href="#" class="trigger">
                    <i class="icon-warning-sign"></i>
                    <span class="count">8</span>
                </a>
                <div class="pop-dialog">
                    <div class="pointer right">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <div class="body">
                        <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>
                        <div class="notifications">
                            <h3>You have 6 new notifications</h3>
                            <a href="#" class="item">
                                <i class="icon-signin"></i> New user registration
                                <span class="time"><i class="icon-time"></i> 13 min.</span>
                            </a>
                            <a href="#" class="item">
                                <i class="icon-signin"></i> New user registration
                                <span class="time"><i class="icon-time"></i> 18 min.</span>
                            </a>
                            <a href="#" class="item">
                                <i class="icon-envelope-alt"></i> New message from Alejandra
                                <span class="time"><i class="icon-time"></i> 28 min.</span>
                            </a>
                            <a href="#" class="item">
                                <i class="icon-signin"></i> New user registration
                                <span class="time"><i class="icon-time"></i> 49 min.</span>
                            </a>
                            <a href="#" class="item">
                                <i class="icon-download-alt"></i> New order placed
                                <span class="time"><i class="icon-time"></i> 1 day.</span>
                            </a>
                            <div class="footer">
                                <a href="#" class="logout">View all notifications</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="notification-dropdown hidden-xs hidden-sm">
                <a href="#" class="trigger">
                    <i class="icon-envelope"></i>
                </a>
                <div class="pop-dialog">
                    <div class="pointer right">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <div class="body">
                        <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>
                        <div class="messages">
                            <a href="#" class="item">
                                <img src="img/contact-img.png" class="display" alt="user" />
                                <div class="name">Alejandra Galván</div>
                                <div class="msg">
                                    There are many variations of available, but the majority have suffered alterations.
                                </div>
                                <span class="time"><i class="icon-time"></i> 13 min.</span>
                            </a>
                            <a href="#" class="item">
                                <img src="img/contact-img2.png" class="display" alt="user" />
                                <div class="name">Alejandra Galván</div>
                                <div class="msg">
                                    There are many variations of available, have suffered alterations.
                                </div>
                                <span class="time"><i class="icon-time"></i> 26 min.</span>
                            </a>
                            <a href="#" class="item last">
                                <img src="img/contact-img.png" class="display" alt="user" />
                                <div class="name">Alejandra Galván</div>
                                <div class="msg">
                                    There are many variations of available, but the majority have suffered alterations.
                                </div>
                                <span class="time"><i class="icon-time"></i> 48 min.</span>
                            </a>
                            <div class="footer">
                                <a href="#" class="logout">View all messages</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                    Your account
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="personal-info.html">Personal info</a></li>
                    <li><a href="#">Account settings</a></li>
                    <li><a href="#">Billing</a></li>
                    <li><a href="#">Export your data</a></li>
                    <li><a href="#">Send feedback</a></li>
                </ul>
            </li>
            <li class="settings hidden-xs hidden-sm">
                <a href="personal-info.html" role="button">
                    <i class="icon-cog"></i>
                </a>
            </li>
            <li class="settings hidden-xs hidden-sm">
                <a href="signin.html" role="button">
                    <i class="icon-share-alt"></i> &nbsp;
                    Share on LinkedIn
                </a>
            </li>
        </ul>
    </header>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            {{#view App.HomeNavView}}
                {{#link-to 'search'}}
                        <i class="icon-search"></i>
                        <span>Search</span>
                {{/link-to}}
            {{/view}}
            {{#view App.HomeNavView}}
                <a class="dropdown-toggle" href="#">
                    <i class="icon-sitemap"></i>
                    <span>Process</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li>{{#link-to 'graph' NewGUID}}New Process{{/link-to}}</li>
                </ul>
            {{/view}}
            {{#view App.HomeNavView}}
                {{#link-to 'wikipedia' 'Special:Random'}}
                    <i class="icon-book"></i>
                    <span>Wikipedia</span>
                {{/link-to}}
            {{/view}}
            {{#view App.HomeNavView}}
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>Users</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="user-list.html">Search users</a></li>
                    <li><a href="user-list.html">User permissions</a></li>
                    <li><a href="new-user.html">My permissions</a></li>
                    <li><a href="user-profile.html">My profile</a></li>
                </ul>
            {{/view}}
            {{#view App.HomeNavView}}
                <a href="personal-info.html">
                    <i class="icon-cog"></i>
                    <span>My Info</span>
                </a>
            {{/view}}
            {{#view App.HomeNavView}}
                <a class="dropdown-toggle" href="#">
                    <i class="icon-share-alt"></i>
                    <span>Extras</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="code-editor.html">Sign out</a></li>
                    <li><a href="grids.html">Reset password</a></li>
                    <li><a href="signin.html">Update Subscription</a></li>
                    <li><a href="signup.html">Help</a></li>
                </ul>
            {{/view}}
        </ul>
    </div>
    <!-- end sidebar -->

    <!-- main container -->
    <div class="content">
        <div id="pad-wrapper">
            {{outlet}}
        </div>
    </div>
</script>




  <script type="text/x-handlebars" id="components/viz-editor"></script>


  <script type="text/x-handlebars" id="wikipedia">

      {{view Ember.TextField valueBinding='title' classNameBindings=":search"}}

      <h1>{{title}}</h1>
      <div class="container-fluid" style="margin-top:12px;">
        <div class="row">
            <div class="col-md-6">
                {{#if model.content}}
                  {{safehtml model.content}}
                {{/if}}
            </div>
            <div class="col-md-6">
                 {{viz-editor data=graphData selected=selected}}
            </div>
        </div>
      </div>

  </script>


  <script type="text/x-handlebars" id="graph">
      <div class="container-fluid" style="margin-top:12px;">
           <h1>{{model.label}}<small>&nbsp;&nbsp;<a {{action 'toggleWorkflowNameModal'}}><i class="glyphicon icon-pencil"></i>&nbsp;</a></small></h1>
           {{#if model.node.workflows}}
                {{view Ember.Select content=model.node.workflows  optionValuePath="content.id" optionLabelPath="content.label" value=workflowID disabled='graphDataLte2'}}

            {{/if}}
            {{#eui-modal openBinding="workflowNameModal" style="full"}}
                <div style="padding: 50px; text-align: center;">
                <p>
                    {{#unless workflowName}}Create {{else}}Update {{/unless}} a workflow name:
                </p>
                {{eui-input valueBinding="workflowName" placeholder='Enter a workflow name' error=validateWorkflowName forceErrorCheck=true}} <br /><br />
                <p>
                    Current a process name:
                </p>
                {{eui-input valueBinding="model.label" placeholder='Enter a process name' error=validateWorkflowName forceErrorCheck=true}} <br /><br />
                <p>
                    Current process detail:
                </p>
                {{eui-textarea valueBinding="model.content" placeholder='Enter a workflow name' error=validateWorkflowName forceErrorCheck=true}} <br /><br />
                {{eui-button label="Submit" size="small" action="toggleWorkflowNameModal" style='primary' size='large' disabled=validateWorkflowName loading=loadingWorkflowName}}
                </div>
            {{/eui-modal}}

            <br>

           <div class="container-fluid" style="margin-top:12px;">
           <div class="row-fluid">
              <div class="col-md-6">
                    {{safehtml model.content}}
              </div>
              <div class="col-md-6">
                  {{viz-editor data=graphData selected=selected editing=editing openModal='openModal'}}
              </div>
           </div>
      </div>
  </script>






<!--  <script type="text/x-handlebars" id="loading">
    <h1>Loading...</h1>
  </script>-->


  <script type="text/x-handlebars" id="search">
      <div class="row">
        <div class="col-md-12">
          <div class="search-wrapper">
            <div class="input-wrapper">
              <div class="input">

                {{! show all the available tags}}
                {{#each tag in tags}}
                  <span  {{action 'deleteTag' tag}} class="tag">{{tag.n}}</span>
                {{/each}}

                {{! input box }}
                {{view Ember.TextField action='search' valueBinding="keywords" type='text' placeholder="Add keywords" autofocus="autofocus"}}

              {{! location }}
@*              {{#flow-modal name="locationModal" fade=true footerButtonsBinding="locationModalBtn" title="Add a location filter!"}}
                      {{view Ember.TextField valueBinding="searchLocation" type='text' id='searchLocation' placeholder="Enter your location"}}
                      <div id="map-search" style="width: 100%; height: 30vh"></div>
              {{/flow-modal}}*@
              <span {{action 'showLocationModal'}} class="glyphicon icon-globe"></span>



            {{#eui-modal openBinding="dateModal" style="full"}}
                <div style="padding: 50px; text-align: center;">
                <p>
                    Please choose a starting and ending date for the filter:
                </p>
                {{eui-selectdate style="default" valueBinding='sched_date_from' placeholder="Starting date"}}
                {{eui-selectdate style="default" valueBinding='sched_date_to' placeholder="Ending date" showNextMonth=false}}

                {{!eui-calendar selectionBinding='sched_date_from' showNextMonth=false}}

                {{!eui-calendar selectionBinding='sched_date_to' showNextMonth=false}}

                <br /><br />

                {{eui-button label="Cancel" action="toggleDateModal" size='large'}}
                {{eui-button label="Submit" action="addDate" style='primary' size='large'}}
                </div>
            {{/eui-modal}}
              <span {{action 'toggleDateModal'}} class="glyphicon icon-calendar"></span>
            </div>

            {{! search }}
            &nbsp;
            <button {{action 'search'}} type="button" class="btn btn-primary">
              <span class="glyphicon icon-search"></span>Search
            </button>

            Pagesize:
            {{view Ember.Select content=pageSizes value=pageSize }}

            Processes:
            {{view Ember.Checkbox checkedBinding='graph'}}

            Files:
            {{view Ember.Checkbox checkedBinding='file'}}

            Process Locations:
            {{view Ember.Checkbox checkedBinding='map'}}
            <br />
             {{#if keywords}}
                {{#link-to 'wikipedia' componentURI}}Research {{keywords}} from wikipedia{{/link-to}}
            {{/if}}
          </div>
        </div>
      </div>
      <br/>
      <br/>
    </div>

      <div class="row">
        <div class="col-md-12">
            {{#if keywords}}
                {{#if graph}}
                  <div {{bind-attr class='activeResultsClass :overscroll'}}>
                    {{render 'graphResults'}}
                  </div>
                {{/if}}
                {{#if file}}
                  <div {{bind-attr class='activeResultsClass :overscroll'}}>
                    {{render 'fileResults'}}
                  </div>
                {{/if}}
                {{#if map}}
                  <div {{bind-attr class='activeResultsClass :overscroll'}}>
                    {{render 'mapResults'}}
                  </div>
                {{/if}}
            {{else}}
                <h3>Please add a keyword to start searching...</h3>
            {{/if}}
         </div>
      </div>
    </div>


  </script>

  <style>

  .overscroll {
  /*overflow-y: scroll;*/
  /*overflow-x: auto;*/
  }

  </style>



<script type="text/x-handlebars" data-template-name="graphResults">
   <h3><i class="icon-sitemap"></i>&nbsp;Processes<small>&nbsp;<a {{action 'newProcess'}}><i class="icon icon-plus-sign"></i></a></small></h3>

  {{#if loading}}

    Loading...

  {{else}}

    {{#if results}}
      <ul class="pager">
          {{#if prev}}
             <li><a {{action 'prev' 'pageGraph'}}>Previous</a></li>
          {{/if}}
          {{#if next}}
            <li><a {{action 'next' 'pageGraph'}}>Next</a></li>
          {{/if}}
      </ul>


      <div class="table-responsive" style="padding:12px;">
        <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Updated</th>
              </tr>
            </thead>
            <tbody>
              {{#each result in results}}
                {{#link-to 'graph' result.ReferenceID tagName='tr'}}

                  <td>{{safehtml result.Title}}</td>
                  <td>{{safehtml result.Author}}</td>
                  <td>{{safehtml result.Updated}}</td>
                {{/link-to}}
              {{/each}}
            </tbody>
        </table>
      </div>
    {{else}}

        Sorry no results could be found.

    {{/if}}

  {{/if}}

</script>


<script type="text/x-handlebars" data-template-name="fileResults">
  <h3><i class="icon-file"></i>&nbsp;Files</h3>

  {{#if loading}}

    Loading...

  {{else}}


    {{#if results}}

      <ul class="pager">
          {{#if prev}}
             <li><a {{action 'prev' 'pageFile'}}>Previous</a></li>
          {{/if}}
          {{#if next}}
            <li><a {{action 'next' 'pageFile'}}>Next</a></li>
          {{/if}}
      </ul>

       <div class="row">
      <div class="table-responsive" style="padding:12px;">
        <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Updated</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              {{#each result in results}}
                <tr>
                  <td>{{safehtml result.Title}}</td>
                  <td>{{safehtml result.Description}}</td>
                  <td>{{safehtml result.Author}}</td>
                  <td>{{safehtml result.Updated}}</td>
                  <td><a {{bind-attr href=result.ResourcePath}}>Download File</a></td>
                </tr>
              {{/each}}
            </tbody>
        </table>
      </div>

           </div>

    {{else}}

        Sorry no results could be found.

    {{/if}}


  {{/if}}

</script>



<script type="text/x-handlebars" id="components/map-result">
      <div {{bind-attr id='id'}} style="width: 100%; height: 75vh; padding:12px;" class="map-result"></div>
</script>


<script type="text/x-handlebars" data-template-name="mapResults">
  <h3><i class="icon-globe"></i>&nbsp;Process Locations</h3>

  {{#if loading}}

    Loading...

  {{else}}

    {{#if results}}
      <ul class="pager">
          {{#if prev}}
             <li><a {{action 'prev' 'pageMap'}}>Previous</a></li>
          {{/if}}
          {{#if next}}
            <li><a {{action 'next' 'pageMap'}}>Next</a></li>
          {{/if}}
      </ul>

    {{else}}

        Sorry no results could be found.

    {{/if}}

  {{/if}}

  {{map-result resultsGeo=resultsGeo visi=visi}}

</script>


    </body>
</html>
