<!DOCTYPE html>
<html>
    <head>
        <title>Flow Pro</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon ICO -->
        <!-- Use this to regenerate icon if changed - http://iconogen.com/upload.php -->
        <!-- Used this to create retina ready favicon - http://www.xiconeditor.com/ -->
        <link rel="shortcut icon" href="~/Modules/EXPEDIT.Flow/Static/favicon.ico" type="image/x-icon" />

        <!-- Apple Touch Icons -->
        <link rel="apple-touch-icon" href="~/Modules/EXPEDIT.Flow/Static/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="~/Modules/EXPEDIT.Flow/Static/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="~/Modules/EXPEDIT.Flow/Static/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="~/Modules/EXPEDIT.Flow/Static/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="~/Modules/EXPEDIT.Flow/Static/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="~/Modules/EXPEDIT.Flow/Static/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="~/Modules/EXPEDIT.Flow/Static/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="~/Modules/EXPEDIT.Flow/Static/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="~/Modules/EXPEDIT.Flow/Static/apple-touch-icon-152x152.png" />
        <!-- Windows 8 Tile Icons -->
        <meta name="msapplication-square70x70logo" content="~/Modules/EXPEDIT.Flow/Static/smalltile.png" />
        <meta name="msapplication-square150x150logo" content="~/Modules/EXPEDIT.Flow/Static/mediumtile.png" />
        <meta name="msapplication-wide310x150logo" content="~/Modules/EXPEDIT.Flow/Static/widetile.png" />
        <meta name="msapplication-square310x310logo" content="~/Modules/EXPEDIT.Flow/Static/largetile.png" />

        <!-- Webapp capable - http://www.mobilexweb.com/blog/home-screen-web-apps-android-chrome-31 -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">




        <!-- bootstrap -->
        <link href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/bootstrap/bootstrap.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/bootstrap/bootstrap-overrides.css")" type="text/css" rel="stylesheet" />

        <!-- libraries -->
        <link href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/lib/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/lib/font-awesome.css")" type="text/css" rel="stylesheet" />

        <!-- global styles -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/compiled/layout.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/compiled/elements.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/compiled/icons.css")" />

        <!-- this page specific styles -->
        <link rel="stylesheet" href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/compiled/index.css")" type="text/css" media="screen" />

        <!-- more page specific styles -->
        <link rel="stylesheet" href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/compiled/personal-info.css")" type="text/css" media="screen" />
        <link rel="stylesheet" href="@Url.Content("~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/compiled/signin.css")" type="text/css" media="screen" />

        <!-- open sans font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

        <!-- lato font -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/vis.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/emberui.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/emberui-default-theme.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/pace.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/offline-theme-chrome.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/offline-language-english.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/colorbox.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Flow/Styles/expedit-flow.css">
@*        <link rel="stylesheet" href="@Url.Content("~/Modules/EXPEDIT.Share/Styles/alertify.core.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Modules/EXPEDIT.Share/Styles/alertify.bootstrap.css")" />*@
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/messenger.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/messenger-theme-flat.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/messenger-theme-flat.css">

        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/lib/select2.css">
        <link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Flow/Static/AdminTheme/css/lib/jquery.dataTables.css">

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery-1.10.2.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery-ui-1.10.3.min.js")"></script>
        <script>
            ENV = {
                ENABLE_ALL_FEATURES: true
            };
        </script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/instaview.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/handlebars-v1.3.0.js")"></script>
         @*emberui not working without min*@
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/ember.js")"></script>
        @*<script src="http://builds.emberjs.com/canary/ember.js"></script>*@
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/ember-data.js")"></script>
        @* map function currently missing
        <script src="http://builds.emberjs.com/canary/ember-data.js"></script>*@
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/ember-list-view.min.js")"></script>
        @*<script src="http://builds.emberjs.com/list-view/list-view-latest.js"></script>*@
        <script src="@Url.Content("~/Modules/NKD/Scripts/NKD.utils.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery.cookie.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery.validate.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery.validate.unobtrusive.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery.validate.additional-methods.js")"></script>
        @*<script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/alertify.min.js")"></script>*@
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/messenger.min.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/messenger-theme-flat.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/offline.min.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/lodash.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/linq.min.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/moment.js")"></script>
        @*<script src="http://momentjs.com/downloads/moment.js"></script>*@
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/twix.min.js")"></script>
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/jquery.velocity.min.js")"></script>
        @*<script src="https://s3.amazonaws.com/emberui/dist/jquery.velocity.min.js"></script>*@
        @* Will work after latest ember data
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/ic-ajax.js")"></script>
        <script type="text/javascript">
            //ic.ajax.request.OVERRIDE_REST_ADAPTER = false;
        </script>*@
        <script src="~/Modules/EXPEDIT.Share/Scripts/emberui.js"></script>
        @*<script src="https://s3.amazonaws.com/emberui/dist/main.js"></script>*@
        <script src="@Url.Content("~/Modules/EXPEDIT.Share/Scripts/tinymce/tinymce.min.js")"></script>
        <script src="@Url.Content("~/Modules/Orchard.jQuery/Scripts/jquery.colorbox.js")"></script>
        <script src="@Href("~/Modules/EXPEDIT.Share/Scripts/jquery.fitvids.js")"></script>
        <script src="@Href("~/Modules/EXPEDIT.Share/Scripts/select2.js")"></script>
        <script src="@Href("~/Modules/EXPEDIT.Share/Scripts/jquery.dataTables.js")"></script>
        <script src="@Href("~/Modules/EXPEDIT.Share/Scripts/common.js")"></script>
    </head>
    <body>

<script src="~/Modules/EXPEDIT.Share/Scripts/vis.js"></script>
<script src="~/Modules/EXPEDIT.Share/Scripts/pace.min.js"></script>
<script type="text/javascript">
    var mapHelper = '@Url.Content("~/Modules/NKD/Scripts/NKD.maps.js")';
</script>

<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/bootstrap.min.js"></script>
<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/jquery-ui-1.10.2.custom.min.js"></script>
<!-- knob -->
@*<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/jquery.knob.js"></script>*@
<!-- flot charts -->
@*<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/jquery.flot.js"></script>
<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/jquery.flot.stack.js"></script>
<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/jquery.flot.resize.js"></script>*@
<script src="~/Modules/EXPEDIT.Flow/Static/AdminTheme/js/theme.js"></script>
<script src="~/Modules/EXPEDIT.Flow/Scripts/flow.js"></script>



<!-- The ember app gets injected here -->
<div id="emberapphere" name="application"></div>


<script type="text/x-handlebars" id="permission">
    <h1> My Permissions </h1>
    <br />
    {{view Ember.Select content=types optionValuePath="content.id"  optionLabelPath="content.text"  value=type}}
    <br /><br />
    <div class='container-fluid'>
        <div class="row">
            <div class="col-md-12">
                <b>{{test}}</b>

                {{#if model}}
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                            <thead>
                            <tr>
                                {{!--<th>Preview</th>--}}
                                <th>Name</th>
                                <th>Updated</th>
                                <th>Company</th>
                                <th>Assignee</th>
                                {{#if controllers.application.isLoggedIn}}
                                <th>Permissions</th>
                                {{/if}}
                            </tr>
                            </thead>
                            <tbody>
                            {{#each item in model}}
                                <tr>
                                {{!--<td><img {{bind-attr src=result.ResourcePreviewPath}} height="15"></td>--}}
                                <td>{{item.ReferenceName}}</td>
                                <td>{{item.Updated}}</td>
                                <td>
                                        {{item.AccessorCompanyName}}
                                </td>
                                <td>

                                        {{item.AccessorContactName}}

                                </td>
                                {{#if controllers.application.isLoggedIn}}
                                    <td><a {{action 'deletePermission' item}} class="hlink">Delete</a></td>
                                {{/if}}
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                {{else}}
                    <br />
                    None.
                {{/if}}
            </div>
        </div>
     </div>
</script>

<script type="text/x-handlebars" id="myworkflows">
    <h3> My Workflows & Processes</h3>
    <br><br>
    {{#if loading}}
      Loading...
    {{else}}
      {{#if model}}
        {{#eui-modal openBinding="permissionModal"}}
            <div style="padding: 50px; text-align: center;">
                <h4>Edit Permissions</h4>

                <br>
                <p> You can grant other users and companies access to your workflow. <br>To add them use the input box below. </p>
                <br>

                <b>Add user:</b><br>
                <input id="add-users-perm" style="width: 275px;" class='select2' type='hidden'/>

                <br>
                <br>

                <b>Add company:</b><br>
                <input id="add-comp-perm" style="width: 275px;" class='select2' type='hidden'/>


                <br>
                <br>

                {{eui-button label="Cancel" action="cancelPermission" size='medium'}}
                {{eui-button label="Add" action="submitPermission" style='primary' size='medium'}}
            </div>
        {{/eui-modal}}

        <div class='container-fluid'>
            <div class="row">
                <div class="col-md-6">
                    {{model.workflows.length}} <b>Workflows</b>

                    {{#if model.workflows}}
                        <div class="table-responsive">
                          <table class="table table-condensed table-hover">
                              <thead>
                                <tr>
                                  {{!--<th>Preview</th>--}}
                                  <th>Name</th>
                                  <th>Updated</th>
                                  <th>Link</th>
                                  {{#if controllers.application.isLoggedIn}}
                                    <th>Permissions</th>
                                  {{/if}}
                                </tr>
                              </thead>
                              <tbody>
                                {{#each workf in model.workflows}}
                                  <tr>
                                    {{!--<td><img {{bind-attr src=result.ResourcePreviewPath}} height="15"></td>--}}
                                    <td>{{workf.humanName}}</td>
                                    <td>{{workf.Updated}}</td>
                                    <td>{{link-to 'View' 'workflow' workf.id}}</td>
                                    {{#if controllers.application.isLoggedIn}}
                                        <td><a {{action 'editPermission' workf}} class="hlink">Edit</a></td>
                                    {{/if}}
                                  </tr>
                                {{/each}}
                              </tbody>
                          </table>
                        </div>
                    {{else}}
                        You have not created any workflows yet.
                    {{/if}}
                </div>

                <div class="col-md-6">
                    {{model.processes.length}} <b>Processes</b>

                    {{#if model.processes}}
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                              <thead>
                                <tr>
                                  {{!--<th>Preview</th>--}}
                                  <th>Name</th>
                                  <th>Updated</th>
                                  <th>Link</th>
                                  {{#if controllers.application.isLoggedIn}}
                                    <th>Permissions</th>
                                  {{/if}}
                                </tr>
                              </thead>
                              <tbody>
                                {{#each proc in model.processes}}
                                  <tr>
                                    {{!--<td><img {{bind-attr src=proc.ResourcePreviewPath}} height="15"></td>--}}
                                    <td>{{proc.Title}}</td>
                                    <td>{{proc.Updated}}</td>
                                    <td>{{link-to 'View' 'graph' proc.id}}</td>
                                    {{#if controllers.application.isLoggedIn}}
                                        <td><a {{action 'editPermission' proc}} class="hlink">Edit</a></td>
                                    {{/if}}
                                  </tr>
                                {{/each}}
                              </tbody>
                          </table>
                        </div>
                    {{else}}
                        You have not created any processes yet.
                    {{/if}}
                </div>
            </div>
        </div>

      {{else}}
            {{#if controllers.application.isLoggedIn}}
                You have no files.
            {{else}}
                You are not logged in. Please {{link-to 'login' 'login'}} to see your files.
            {{/if}}

      {{/if}}
    {{/if}}
</script>


<script type="text/x-handlebars" id="file">
    <h1> My Files </h1>
    <br><br>
    {{#if loading}}
      Loading...
    {{else}}
      {{#if model}}
        {{#eui-modal openBinding="permissionModal"}}
            <div style="padding: 50px; text-align: center;">
                <h4>Edit Permissions</h4>

                <br>
                <p> You can grant other users and companies access to your file. <br>To add them use the input box below. </p>
                <br>

                <b>Add user:</b><br>
                <input id="add-users-perm" style="width: 275px;" class='select2' type='hidden'/>

                <br>
                <br>

                <b>Add company:</b><br>
                <input id="add-comp-perm" style="width: 275px;" class='select2' type='hidden'/>


                <br>
                <br>

                {{eui-button label="Cancel" action="cancelPermission" size='medium'}}
                {{eui-button label="Add" action="submitPermission" style='primary' size='medium'}}
            </div>
        {{/eui-modal}}
        <div class="table-responsive">
          <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Preview</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Updated</th>
                  <th>Link</th>
                  {{#if controllers.application.isLoggedIn}}
                    <th>Permissions</th>
                  {{/if}}
                </tr>
              </thead>
              <tbody>
                {{#each result in model}}
                  <tr>
                    <td><img {{bind-attr src=result.ResourcePreviewPath}} height="15"></td>
                    <td>{{result.Title}}</td>
                    <td>{{result.Description}}</td>
                    <td>{{result.Updated}}</td>
                    <td><a {{bind-attr href=result.ResourcePath}}>Download File</a></td>
                    {{#if controllers.application.isLoggedIn}}
                        <td><a {{action 'editPermission' result}} class="hlink">Edit</a></td>
                    {{/if}}
                  </tr>
                {{/each}}
              </tbody>
          </table>
        </div>

      {{else}}
            {{#if controllers.application.isLoggedIn}}
                You have no files.
            {{else}}
                You are not logged in. Please {{link-to 'login' 'login'}} to see your files.
            {{/if}}

      {{/if}}
    {{/if}}
</script>


<script type="text/x-handlebars" id="login">

    <div class="login-wrapper login-bg">
        <a href="#">
            <img class="logo" src="@Url.Content("~/Modules/EXPEDIT.Flow/Images/logo-all-white-transparent.png")" alt="logo" />
        </a>
        <form {{action 'loginUser' on='submit'}} >
        <div class="box">
            <div class="content-wrap">
                <h6>Log in</h6>

                {{input type="text" valueBinding='email' classNameBindings=":form-control" placeholder="E-mail address"}}
                {{input valueBinding='password' type="password" class="form-control" placeholder="Your Password"}}
                <a href="/Users/account/RequestLostPassword" class="forgot">Forgot password?</a>
                <div class="remember">
                    {{input valueBinding="rememberme" id="remember-me" type="checkbox"}}
                    <label for="remember-me">Remember me</label>
                </div>
                <button type="submit" class="btn-glow primary login">
                    Log in
                </button>
            </div>
        </div>
        </form>
        <div class="no-account">
            <p>Do not have an account?</p>
            <a href="/Users/account/Register?ReturnUrl=%2flow">Sign up</a>
        </div>
    </div>

</script>


<script type="text/x-handlebars" data-template-name="home-nav">
    {{#if view.activeTagzz}}
        <div class="pointer">
            <div class="arrow"></div>
            <div class="arrow_border"></div>
        </div>
    {{/if}}
    {{yield}}
</script>

<script type="text/x-handlebars" data-template-name="components/inactivity-warning-component">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="tmModalLabel">Inactivity Warning</h4>
          </div>
          <div class="modal-body">
            You will be logged out in 30 seconds.
          </div>
        </div>
      </div>
    </div>
</script>

<script type="text/x-handlebars" id="application">
        {{#eui-modal openBinding="logoutModal"}}
            <div style="padding: 50px; text-align: center;">
                <h4> Do you really want to logout?</h4>

                <br>
                {{eui-button label="Cancel" action="togglelogoutModal" size='large'}}
                {{eui-button label="Logout" action="logoutUser" style='primary' size='large' disabled=validateNewName loading=loadingEditName}}
             </div>
        {{/eui-modal}}

     <!-- navbar -->
    <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">
                <img src="@Url.Content("~/Modules/EXPEDIT.Flow/Images/logo.png")" alt="logo" />
            </a>
        </div>

        <ul class="nav navbar-nav pull-right"> <!--hidden-xs-->
            {{#if isLoggedIn}}
                <!-- This is for desktop -->
                <li class="settings dropdown">
                    <a {{action 'togglelogoutModal'}}>
                        <i class="icon-lock success-lock"></i>&nbsp;
                        Logout
                    </a>


                </li>
            {{else}}
                <li class="settings ">
                    {{#link-to 'login'}}
                        <i class="icon-unlock warning"></i> &nbsp;
                         Login
                    {{/link-to}}
                </li>
            {{/if}}
        </ul>
        {{!--
            <ul class="nav navbar-nav pull-right hidden-xs">
                <li class="hidden-xs hidden-sm">
                    <input class="search" type="text" />
                </li>
                <li class="notification-dropdown hidden-xs hidden-sm">
                    <a href="#" class="trigger">
                        <i class="icon-warning-sign"></i>
                        <span class="count">8</span>
                    </a>
                    <div class="pop-dialog">
                        <div class="pointer right">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div>
                        <div class="body">
                            <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>
                            <div class="notifications">
                                <h3>You have 6 new notifications</h3>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> New user registration
                                    <span class="time"><i class="icon-time"></i> 13 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> New user registration
                                    <span class="time"><i class="icon-time"></i> 18 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-envelope-alt"></i> New message from Alejandra
                                    <span class="time"><i class="icon-time"></i> 28 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> New user registration
                                    <span class="time"><i class="icon-time"></i> 49 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-download-alt"></i> New order placed
                                    <span class="time"><i class="icon-time"></i> 1 day.</span>
                                </a>
                                <div class="footer">
                                    <a href="#" class="logout">View all notifications</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="notification-dropdown idden-xs hidden-sm">
                    <a href="#" class="trigger">
                        <i class="icon-envelope"></i>
                    </a>
                    <div class="pop-dialog">
                        <div class="pointer right">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div>
                        <div class="body">
                            <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>
                            <div class="messages">
                                <a href="#" class="item">
                                    <img src="img/contact-img.png" class="display" alt="user" />
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, but the majority have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 13 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <img src="img/contact-img2.png" class="display" alt="user" />
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 26 min.</span>
                                </a>
                                <a href="#" class="item last">
                                    <img src="img/contact-img.png" class="display" alt="user" />
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, but the majority have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 48 min.</span>
                                </a>
                                <div class="footer">
                                    <a href="#" class="logout">View all messages</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="settings hidden-xs hidden-sm">
                    <a href="personal-info.html" role="button">
                        <i class="icon-cog"></i>
                    </a>
                </li>
                <li class="settings hidden-xs hidden-sm">
                    <a href="signin.html" role="button">
                        <i class="icon-share-alt"></i> &nbsp;
                        Share on LinkedIn
                    </a>
                </li>
            </ul>--}}
    </header>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            {{#view App.HomeNavView}}
                {{#link-to 'search'}}
                        <i class="icon-search"></i>
                        <span>Search</span>
                {{/link-to}}
            {{/view}}
            {{#view App.HomeNavView}}
                <a class="dropdown-toggle" href="#">
                    <i class="icon-sitemap"></i>
                    <span>Workflow</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li>{{#link-to 'workflow' 'undefined'}}New Workflow{{/link-to}}</li>
                    <li>{{#link-to 'myworkflows'}}My Workflows{{/link-to}}</li>
                </ul>
            {{/view}}
            {{#view App.HomeNavView}}
                {{#link-to 'file'}}
                    <i class="icon-file"></i>
                    <span>My Files</span>
                {{/link-to}}
            {{/view}}
            {{#view App.HomeNavView}}
                {{#link-to 'wikipedia' 'Special:Random'}}
                    <i class="icon-book"></i>
                    <span>Wikipedia</span>
                {{/link-to}}
            {{/view}}
            {{#view App.HomeNavView}}
                {{#link-to 'permission'}}
                    <i class="icon-lock"></i>
                    <span>Permissions</span>
                {{/link-to}}
            {{/view}}
            {{!--
           {{#view App.HomeNavView}}
                {{#link-to 'myaccount'}}
                    <i class="icon-user"></i>
                    <span>My Account</span>
                {{/link-to}}
            {{/view}}
            --}}
            {{!--   
                {{#view App.HomeNavView}}
                    {{#link-to 'userprofile'}}
                        <i class="icon-cog"></i>
                        <span>My Info</span>
                    {{/link-to}}
                {{/view}}
                {{#view App.HomeNavView}}
                    <a class="dropdown-toggle" href="#">
                        <i class="icon-share-alt"></i>
                        <span>Extras</span>
                        <i class="icon-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        <li onlick='alert("Logged out!")'><a href="#">Sign out</a></li>
                        <li>{{#link-to 'userprofile'}}Reset Password{{/link-to}}</li>
                        <li>{{#link-to 'userprofile'}}My profile{{/link-to}}</li>
                        <li onlick='alert("Help page!")'><a href="#">Help</a></li>
                    </ul>
                {{/view}}
            --}}
        </ul>
    </div>
    <!-- end sidebar -->

    <!-- main container -->
    <div class="content">
        <div id="pad-wrapper">
            {{outlet}}
        </div>
    </div>
</script>




  <script type="text/x-handlebars" id="components/viz-editor"></script>


  <script type="text/x-handlebars" id="wikipedia">

    <div class="container-fluid" style="margin-top:12px;">

        <div class="row">
            <div class="col-md-4">
                {{view Ember.TextField valueBinding='title' classNameBindings=":search :form-control" style="width: 100%;"}}
            </div>
        </div>

        <br> <br>


        <div class="row">
            <div class="col-md-6">
                <h2><b>{{title}}</b></h2>
                {{#if model.content}}
                  {{safehtml model.content}}
                {{/if}}
            </div>
            <div class="col-md-6">
                 {{viz-editor data=graphData selected=selected openModal="toggleWorkflowEditModal"}}
            </div>
        </div>
    </div>

  </script>


  <script type="text/x-handlebars" id="graph">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 process-header">
                   <h1>{{#if model.selected}}{{humanReadableName}}{{/if}}

                            <span {{action 'toggleWorkflowEditModal'}} class='btn-flat gray'>
                                <i class="icon-pencil"></i> Edit selected Process
                            </span>
                    </h1>

                    {{!--<h4>
                        <small>
                            {{#if model.workflow.name}}
                                {{model.workflow.name}}
                           {{else}}
                                Current process has no workflow yet. Please choose a workflow name.
                            {{/if}}

                              <span {{action 'toggleworkflowEditNameModal'}} class='btn-flat gray'>
                                <i class="icon-pencil"></i> Edit Workflow name
                            </span>

                             - this process is available in {{model.workflows.length}} Workflows. Change current:
                    {{#if workflowGte2}}
                        {{view Ember.Select content=model.workflows optionValuePath="content.id" optionLabelPath="content.name" valueBinding="workflowID"}}
                    {{/if}}

                        </small>
                    </h4>--}}


                    <h4>
                        <small>
                            {{#if model.workflow.name }}
                                {{#if workflowGte2}}
                                {{eui-select optionsBinding=model.workflows valuePath="id" labelPath="name" valueBinding="workflowID" required=true size='small'}}
                                {{else}}
                                    {{model.workflow.name}}
                                {{/if}}
                           {{else}}
                                Current process has no workflow yet. Please choose a workflow name.
                            {{/if}}

                              <span {{action 'toggleworkflowEditNameModal'}} class='btn-flat gray'>
                                <i class="icon-pencil"></i> Edit Workflow name
                            </span>
                        </small>
                    </h4>

                    <br>
                    <div style="text-align:right"><a {{action 'showExistingNodeModal'}}> Add existing Node </a></div>

                    {{!--{{#each lworkflow in model.workflows}}
                        <li>
                            {{lworkflow.name}}
                            {{lworkflow.id}}
                        </li>
                    {{/each}}--}}


                   <hr>
              </div>
            </div>
       </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">




                {{#eui-modal openBinding="existingNodeModal"}}
                    <div style="padding: 50px; text-align: center;">
                        <h4>Add existing Process</h4>

                        <br>
                        <p> You can add an existing process by using the input box below: </p>
                        <br>

                        <b>Add Process:</b><br>
                        <input id="existingNodesel" style="width: 275px;" class='select2' type='hidden'/>

                        <br>
                        <br>

                        {{eui-button label="Cancel" action="cancelExistingNodeModal" size='medium'}}
                        {{eui-button label="Add" action="submitExistingNodeModal" style='primary' size='medium'}}
                    </div>
                {{/eui-modal}}






                {{#eui-modal openBinding="workflowEditNameModal"}}
                 <div style="padding: 50px; text-align: center;">
                     <h4> Update Workflow name</h4>
                     <br />
                     <br />
                Choose a new name below:<br />
                {{eui-input valueBinding="model.workflow.name" placeholder='Enter a workflow name' error=validateWorkflowName forceErrorCheck=true}} <br /><br />

                {{eui-button label="Cancel" action="toggleworkflowEditNameModal" size='large'}}
                    {{eui-button label="Submit" action="updateWorkflowNameNow" style='primary' size='large' disabled=validateNewName loading=loadingEditName}}
                     </div>
            {{/eui-modal}}

                 {{#eui-modal openBinding="workflowEditModal" style="full"}}
                    <div style="padding: 50px; text-align: center;">


                    <p>
                        The process name:
                    </p>

                    {{eui-input valueBinding="model.selected.label" placeholder='Enter a process name' error=validateNewName forceErrorCheck=true}}

                     <br /><br />
                    <p>
                        The process detail:
                    </p>

                     {{tinymce-editor data=model.selected.content}}

                    {{eui-button label="Cancel" action="toggleWorkflowEditModal" size='large'}}
                    {{eui-button label="Submit" action="updateWorkflow" style='primary' size='large' disabled=validateNewName loading=loadingEditName}}
                    </div>
                {{/eui-modal}}
                {{#eui-modal openBinding="workflowNewModal" style="full"}}
                    <div style="padding: 50px; text-align: center;">
                    <p>
                        The new process name:
                    </p>
                    {{eui-input valueBinding="newName" placeholder='Enter a new process name' error=validateNewNewName forceErrorCheck=true}} <br /><br />
                    <p>
                        The new process detail:
                    </p>
                    {{tinymce-editor data=newContent}}
                    {{eui-button label="Cancel" action="toggleWorkflowNewModal" size='large'}}
                    {{eui-button label="Submit" action="addNewNode" style='primary' size='large' disabled=validateNewNewName loading=loadingNewNewName}}
                    </div>
                {{/eui-modal}}


                        {{safehtml model.selected.content}}

            </div>
              <div class="col-md-6 vh-75">
                  {{viz-editor data=graphData selected=selectedID editing=editing toggleWorkflowNewModal='toggleWorkflowNewModal' toggleWorkflowEditModal='toggleWorkflowEditModal' addNewEdge='addNewEdge' deleteGraphItems='deleteGraphItems'}}
              </div>
           </div>
        </div>
  </script>






<!--  <script type="text/x-handlebars" id="loading">
    <h1>Loading...</h1>
  </script>-->


  <script type="text/x-handlebars" id="search">
        {{#map-modal  openBinding='mapModal' style="full"}}
            <div style="padding: 50px; text-align: center;">
                {{view Ember.TextField valueBinding="searchLocation" type='text' id='searchLocation' placeholder="Enter your location"}}
                <br><br />
                <div id="mapmodalid" style="width: 80%; margin: 0 auto;" class="vh-65 map-result"></div>
                <br><br>
                {{eui-button label="Cancel" action="toggleMapModal" size='large'}}
                {{eui-button label="Submit" action="addLocation" style='primary' size='large'}}
            </div>
        {{/map-modal}}

        {{#eui-modal openBinding="dateModal" style="full"}}
            <div style="padding: 50px; text-align: center; margin-top: 100px;">
                <p>Please choose a starting and ending date for the filter: </p>
                {{eui-selectdate style="default" valueBinding='sched_date_from' placeholder="Starting date"}}
                {{eui-selectdate style="default" valueBinding='sched_date_to' placeholder="Ending date" showNextMonth=false}}
                <br /><br />
                {{eui-button label="Cancel" action="toggleDateModal" size='large'}}
                {{eui-button label="Submit" action="addDate" style='primary' size='large'}}
            </div>
        {{/eui-modal}}

        {{#eui-modal openBinding="settingsModal"}}
            <div style="padding: 50px; text-align: center;">
                <h4>Pagesize:</h4>
                {{view Ember.Select content=pageSizes value=pageSize }}
                <br> <br> <br>

                <h4>Categroise to display:</h4>
                Processes:
                {{view Ember.Checkbox checkedBinding='graph'}}

                Files:
                {{view Ember.Checkbox checkedBinding='file'}}

                Process Locations:
                {{view Ember.Checkbox checkedBinding='map'}}

                <br><br>
                {{eui-button label="Done" action="toggleSettingsModal" style='primary' size='large'}}
            </div>
        {{/eui-modal}}

      <div class="row">
        <div class="col-md-12 main-searchbox">



            {{! show all the available tags}}
            {{#each tag in tags}}
              <span  {{action 'deleteTag' tag}} class="tag">{{tag.n}}</span> {{! add delete icon here}}
            {{/each}}

            {{view Ember.TextField action='search' valueBinding="keywords" type='text' placeholder="Add keywords" autofocus="autofocus"}}


            <button {{action 'toggleMapModal'}} class="btn btn-default">
                <i class="icon icon-globe"></i>
            </button>




            <button {{action 'toggleDateModal'}} class="btn btn-default">
                <i class='icon icon-calendar'></i>
            </button>


            <button {{action 'toggleSettingsModal'}} class="btn btn-default">
                <i class='icon icon-gears'></i>
            </button>


            &nbsp;
            <button {{action 'search'}} type="button" class="btn btn-primary">
                <span class="glyphicon icon-search"></span>Search
            </button>

            <br>

             {{#if keywords}}
                {{#link-to 'wikipedia' componentURI}}Lookup <b>{{keywords}}</b> on wikipedia{{/link-to}}
            {{/if}}

            <br><br>
            <br><br>
        </div>
    </div>



      <div class="row">
            {{#if keywords}}
                {{#if graph}}
                  <div {{bind-attr class='activeResultsClass :overscroll'}}>
                    {{render 'graphResults'}}
                  </div>
                {{/if}}
                {{#if file}}
                  <div {{bind-attr class='activeResultsClass :overscroll'}}>
                    {{render 'fileResults'}}
                  </div>
                {{/if}}
                {{#if map}}
                  <div {{bind-attr class='activeResultsClass :overscroll'}}>
                    {{render 'mapResults'}}
                  </div>
                {{/if}}
            {{else}}
                <div class="col-md-12">
                    <h4>Please add a keyword to start searching...</h4>
                </div>
            {{/if}}
      </div>



  </script>

  <style>

  .overscroll {
  /*overflow-y: scroll;*/
  /*overflow-x: auto;*/
  }

  </style>



<script type="text/x-handlebars" data-template-name="graphResults">
   <h3><i class="icon-sitemap"></i>&nbsp;Processes<small>&nbsp;<a {{action 'newProcess'}}><i class="icon icon-plus-sign"></i></a></small></h3>

  {{#if loading}}

    Loading...

  {{else}}

    {{#if results}}
      <ul class="pager">
          {{#if prev}}
             <li><a {{action 'prev' 'pageGraph'}}>Previous</a></li>
          {{/if}}
          {{#if next}}
            <li><a {{action 'next' 'pageGraph'}}>Next</a></li>
          {{/if}}
      </ul>


      <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Updated</th>
              </tr>
            </thead>
            <tbody>
              {{#each result in results}}
                {{#link-to 'graph' result.ReferenceID tagName='tr'}}

                  <td>{{safehtml result.humanName}}</td>
                  <td>{{safehtml result.Author}}</td>
                  <td>{{safehtml result.Updated}}</td>
                {{/link-to}}
              {{/each}}
            </tbody>
        </table>
      </div>
    {{else}}

        Sorry no results could be found.

    {{/if}}

  {{/if}}

</script>


<script type="text/x-handlebars" data-template-name="fileResults">
  <h3><i class="icon-file"></i>&nbsp;Files</h3>

  {{#if loading}}
    Loading...
  {{else}}
    {{#if results}}
      <ul class="pager">
          {{#if prev}}
             <li><a {{action 'prev' 'pageFile'}}>Previous</a></li>
          {{/if}}
          {{#if next}}
            <li><a {{action 'next' 'pageFile'}}>Next</a></li>
          {{/if}}
      </ul>

      <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Updated</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              {{#each result in results}}
                <tr>
                  <td>{{safehtml result.Title}}</td>
                  <td>{{safehtml result.Description}}</td>
                  <td>{{safehtml result.Author}}</td>
                  <td>{{safehtml result.Updated}}</td>
                  <td><a {{bind-attr href=result.ResourcePath}}>Download File</a></td>
                </tr>
              {{/each}}
            </tbody>
        </table>
      </div>

    {{else}}
        Sorry no results could be found.
    {{/if}}
  {{/if}}
</script>



<script type="text/x-handlebars" id="components/map-result">
      <div {{bind-attr id='id'}} style="width: 100%;  min-height: 600px;  height: auto !important; height: 600px; height: 75vh; padding:12px;" class="map-result"></div>
</script>


<script type="text/x-handlebars" data-template-name="mapResults">
  <h3><i class="icon-globe"></i>&nbsp;Process Locations</h3>

  {{#if loading}}

    Loading...

  {{else}}

    {{#if results}}
      <ul class="pager">
          {{#if prev}}
             <li><a {{action 'prev' 'pageMap'}}>Previous</a></li>
          {{/if}}
          {{#if next}}
            <li><a {{action 'next' 'pageMap'}}>Next</a></li>
          {{/if}}
      </ul>

    {{else}}

        Sorry no results could be found.

    {{/if}}

  {{/if}}

  {{map-result resultsGeo=resultsGeo visi=visi}}

</script>


      <script type="text/x-handlebars" id="userlist">

        <div class="users-list">
            <div class="row header">
                <h3>Users</h3>
                <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                    <input type="text" class="col-md-5 search" placeholder="Type a user's name...">

                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    <div class="ui-dropdown">
                        <div class="head" data-toggle="tooltip" title="Click me!">
                            Filter users
                            <i class="arrow-down"></i>
                        </div>
                        <div class="dialog">
                            <div class="pointer">
                                <div class="arrow"></div>
                                <div class="arrow_border"></div>
                            </div>
                            <div class="body">
                                <p class="title">
                                    Show users where:
                                </p>
                                <div class="form">
                                    <select>
                                        <option>Name</option>
                                        <option>Email</option>
                                        <option>Number of orders</option>
                                        <option>Signed up</option>
                                        <option>Last seen</option>
                                    </select>
                                    <select>
                                        <option>is equal to</option>
                                        <option>is not equal to</option>
                                        <option>is greater than</option>
                                        <option>starts with</option>
                                        <option>contains</option>
                                    </select>
                                    <input type="text" class="form-control" />
                                    <a class="btn-flat small">Add filter</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="new-user.html" class="btn-flat success pull-right">
                        <span>&#43;</span>
                        NEW USER
                    </a>
                </div>
            </div>

            <!-- Users table -->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-4 sortable">
                                    Name
                                </th>
                                <th class="col-md-3 sortable">
                                    <span class="line"></span>Signed up
                                </th>
                                <th class="col-md-2 sortable">
                                    <span class="line"></span>Total spent
                                </th>
                                <th class="col-md-3 sortable align-right">
                                    <span class="line"></span>Email
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- row -->
                        <tr class="first">
                            <td>
                                <img src="img/contact-img.png" alt="contact" class="img-circle avatar hidden-phone" />
                                <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                                <span class="subtext">Graphic Design</span>
                            </td>
                            <td>
                                Mar 13, 2012
                            </td>
                            <td>
                                $ 4,500.00
                            </td>
                            <td class="align-right">
                                <a href="#">alejandra@canvas.com</a>
                            </td>
                        </tr>
                        <!-- row -->
                        <tr>
                            <td>
                                <img src="img/contact-img2.png" alt="contact" class="img-circle avatar hidden-phone" />
                                <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                                <span class="subtext">Graphic Design</span>
                            </td>
                            <td>
                                Jun 03, 2012
                            </td>
                            <td>
                                $ 549.99
                            </td>
                            <td class="align-right">
                                <a href="#">alejandra@canvas.com</a>
                            </td>
                        </tr>
                        <!-- row -->
                        <tr>
                            <td>
                                <img src="img/contact-img.png" alt="contact" class="img-circle avatar hidden-phone" />
                                <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                                <span class="subtext">Graphic Design</span>
                            </td>
                            <td>
                                Mar 01, 2013
                            </td>
                            <td>
                                $ 30.00
                            </td>
                            <td class="align-right">
                                <a href="#">alejandra@canvas.com</a>
                            </td>
                        </tr>
                        <!-- row -->
                        <tr>
                            <td>
                                <img src="img/contact-img2.png" alt="contact" class="img-circle avatar hidden-phone" />
                                <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                                <span class="subtext">Graphic Design</span>
                            </td>
                            <td>
                                Jan 28, 2012
                            </td>
                            <td>
                                $ 1,320.00
                            </td>
                            <td class="align-right">
                                <a href="#">alejandra@canvas.com</a>
                            </td>
                        </tr>
                        <!-- row -->
                        <tr>
                            <td>
                                <img src="img/contact-img.png" alt="contact" class="img-circle avatar hidden-phone" />
                                <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                                <span class="subtext">Graphic Design</span>
                            </td>
                            <td>
                                May 16, 2012
                            </td>
                            <td>
                                $ 89.99
                            </td>
                            <td class="align-right">
                                <a href="#">alejandra@canvas.com</a>
                            </td>
                        </tr>
                        <!-- row -->
                        <tr>
                            <td>
                                <img src="img/contact-img2.png" alt="contact" class="img-circle avatar hidden-phone" />
                                <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                                <span class="subtext">Graphic Design</span>
                            </td>
                            <td>
                                Sep 06, 2012
                            </td>
                            <td>
                                $ 344.00
                            </td>
                            <td class="align-right">
                                <a href="#">alejandra@canvas.com</a>
                            </td>
                        </tr>
                        <!-- row -->
                        <tr>
                            <td>
                                <img src="img/contact-img.png" alt="contact" class="img-circle avatar hidden-phone" />
                                <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                                <span class="subtext">Graphic Design</span>
                            </td>
                            <td>
                                Jul 13, 2012
                            </td>
                            <td>
                                $ 800.00
                            </td>
                            <td class="align-right">
                                <a href="#">alejandra@canvas.com</a>
                            </td>
                        </tr>
                        <!-- row -->
                        <tr>
                            <td>
                                <img src="img/contact-img2.png" alt="contact" class="img-circle avatar hidden-phone" />
                                <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                                <span class="subtext">Graphic Design</span>
                            </td>
                            <td>
                                Feb 13, 2013
                            </td>
                            <td>
                                $ 250.00
                            </td>
                            <td class="align-right">
                                <a href="#">alejandra@canvas.com</a>
                            </td>
                        </tr>
                        <!-- row -->
                        <tr>
                            <td>
                                <img src="img/contact-img.png" alt="contact" class="img-circle avatar hidden-phone" />
                                <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                                <span class="subtext">Graphic Design</span>
                            </td>
                            <td>
                                Feb 27, 2013
                            </td>
                            <td>
                                $ 1,300.00
                            </td>
                            <td class="align-right">
                                <a href="#">alejandra@canvas.com</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <ul class="pagination pull-right">
                <li><a href="#">&#8249;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&#8250;</a></li>
            </ul>
            <!-- end users table -->
        </div>
    </script>


    <script type="text/x-handlebars" id="myaccount">
        <div class="settings-wrapper">
            <div class="row">

                <div class="col-md-3 col-md-offset-1 avatar-box">
                    <div class="personal-image">
                        <img src="img/personal-info.png" class="avatar img-circle" alt="avatar" />
                        {{!--
                            <p>Upload a different photo... (Recommended size 200px by 200px)</p>
                            <input type="file" />
                        --}}
                    </div>
                </div>

                <div class="col-md-7 personal-info">
                    <h5 class="personal-title">Personal info</h5>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">First name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="Alejandra" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Last name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="Galvan" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Company:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="Design Co." />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="alejandra@design.com" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Time Zone:</label>
                            <div class="col-lg-8">
                                <div class="ui-select">
                                    <select id="user_time_zone" name="user[time_zone]">
                                        <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                        <option value="Alaska">(GMT-09:00) Alaska</option>
                                        <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                        <option value="Arizona">(GMT-07:00) Arizona</option>
                                        <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                        <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                        <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                        <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Username:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="alegalvan" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Password:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="password" value="blablablabla" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Confirm password:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="password" value="blablablabla" />
                            </div>
                        </div>
                        <div class="actions">
                            <input type="button" class="btn-glow primary" value="Save Changes">
                            <span>OR</span>
                            <input type="reset" value="Cancel" class="reset">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </script>


      <script type="text/x-handlebars" id="usernew">
          <div class="new-user">
            <div class="row header">
                <div class="col-md-12">
                    <h3>Create a new user</h3>
                </div>
            </div>

            <div class="row form-wrapper">
                <!-- left column -->
                <div class="col-md-9 with-sidebar">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputName1" class="col-md-2 control-label">Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputName1" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail1" class="col-md-2 control-label">Email</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" id="inputEmail1" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone1" class="col-md-2 control-label">Phone</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" id="inputPhone1" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputWebsite1" class="col-md-2 control-label">Website</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" id="inputWebsite1" placeholder="Website">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress1" class="col-md-2 control-label">Address</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" id="inputAddress1" placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputContent1" class="col-md-2 control-label">Content</label>
                            <div class="col-md-8">
                              <textarea id="inputContent1" class="form-control" placeholder="Content" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                              <button type="submit" class="btn btn-default">Sign in</button>
                            </div>
                        </div>
                    </form>
                    <!-- <form class="new_user_form">
                        <div class="col-md-12 field-box">
                            <label>Name:</label>
                            <input class="form-control" type="text" />
                        </div>
                        <div class="col-md-12 field-box">
                            <label>State:</label>
                            <div class="ui-select span5">
                                <select>
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="CA">California</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                    <option value="WA">Washington</option>
                                    <option value="AZ">Arizona</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 field-box">
                            <label>Company:</label>
                            <input class="col-md-9 form-control" type="text" />
                        </div>
                        <div class="col-md-12 field-box">
                            <label>Email:</label>
                            <input class="col-md-9 form-control" type="text" />
                        </div>
                        <div class="col-md-12 field-box">
                            <label>Phone:</label>
                            <input class="col-md-9 form-control" type="text" />
                        </div>
                        <div class="col-md-12 field-box">
                            <label>Website:</label>
                            <input class="col-md-9 form-control" type="text" />
                        </div>
                        <div class="col-md-12 field-box">
                            <label>Address:</label>
                            <div class="address-fields">
                                <input class="form-control" type="text" placeholder="Street address" />
                                <input class="small form-control" type="text" placeholder="City" />
                                <input class="small form-control" type="text" placeholder="State" />
                                <input class="small last form-control" type="text" placeholder="Postal Code" />
                            </div>
                        </div>
                        <div class="col-md-12 field-box textarea">
                            <label>Notes:</label>
                            <textarea class="col-md-9"></textarea>
                            <span class="charactersleft">90 characters remaining. Field limited to 100 characters</span>
                        </div>
                        <div class="col-md-11 field-box actions">
                            <input type="button" class="btn-glow primary" value="Create user">
                            <span>OR</span>
                            <input type="reset" value="Cancel" class="reset">
                        </div>
                    </form> -->
                </div>

                <!-- side right column -->
                <div class="col-md-3 form-sidebar">
                    <div class="alert alert-info">
                        <i class="icon-lightbulb pull-left"></i>
                        Display a sidebar note over here
                    </div>
                    <h6>Sidebar text for instructions</h6>
                    <p>Add multiple users at once</p>
                    <p>Choose one of the following file types:</p>
                    <ul>
                        <li><a href="#">Upload a vCard file</a></li>
                        <li><a href="#">Import from a CSV file</a></li>
                        <li><a href="#">Import from an Excel file</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </script>
        <script type="text/x-handlebars" id="workflow">&nbsp;</script>
    </body>
</html>



